/* login style .formStyle {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
 margin-left: 500px;*dont uncomment*
}*/
body {
  background-color: black !important;
  height: 100vh;
}
.mainStyle {
  border: 1px solid #262626;
  margin: 0 auto;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 8px;
}
.inputForm {
  width: 500px;
}
.formLabel {
  color: white;
}
h1 {
  color: whitesmoke;
  margin-left: 650px;
  margin-bottom: 50px;
}
.mb-3 {
  margin-top: 30px;
}
